.movies__cardlist {
  width: 100%;
  margin: 0 auto;
  max-width: 1140px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 58px 30px;
  padding: 80px 0 0;
}

.button__container {
  display: flex;
  margin: 0 auto;
}

.movies__more-films {
  margin: 80px auto;
  /* margin: 0 auto; */
  padding: 11px 60px 9px;
  text-align: center;
  min-width: 320px;
  background-color: #fff;
  color: #000;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  border: 2px;
  border-color: #E8E8E8;
  border-style: double;
  border-radius: 6px;
}

.movies__more-films-none {
  display: none;
}

.movies__more-fils:hover {
  cursor: pointer;
  opacity: .8;
}

@media screen and (max-width: 1275px) {
  .movies__cardlist {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 30px;
  }
}

@media screen and (max-width: 768px) {
  .movies__more-films {
    margin: 62px auto 80px;
  }
}

@media screen and (max-width: 700px) {
  .movies__cardlist {
    grid-template-columns: 1fr;
    gap: 38px 30px;
    padding: 50px 0 0;
  }
}

@media screen and (max-width: 425px) {
  .movies__more-films {
    min-width: 240px;
    padding: 11px 20px 9px;
  }
}