.error {
  min-height: 100vh;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.error__status {
  font-weight: 400;
  font-size: 140px;
  line-height: 170px;
}

.error__message {
  text-align: center;
  padding: 5px 0 174px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.error__link {
  padding: 5px;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: rgba(66, 133, 244, 1);
  transition: .2 all ease;
}

.error__link:hover {
  opacity: .8;
}

@media screen and (max-width: 425px) {
  .error__status {
    font-size: 80px;
    line-height: 97px;
  }
  .error__message {
    padding: 10px 0 0;
    font-size: 12px;
    line-height: 15px;
  }
  .error__link {
    position: absolute;
    padding: 20px;
    bottom: 0;
    left: 50%;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 15px;
    transform: translate(-50%, 0%);
  }
}